@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #191765;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.header {
  text-align: center;
}

.display-flex {
  display: flex;
}

.margin-0-auto {
  margin: 0 auto;
}

.flex-d-row {
  flex-direction: row;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.position-relative {
  position: relative;
}

.display-none-sm {
  display: none;
}

.position-absolute {
  position: absolute;
}

.ellipse-18 {
  height: 242px;
  width: 160px;
  border-radius: 0;
  top: 5px;
  left: 0;
}

.ellipse-19 {
  top: 293px;
  right: 0;
  width: 83px;
  border-radius: 0;
}

.ellipse-20 {
  top: 1317px;
  left: 0;
  width: 60%;
  z-index: -1;
}

.ellipse-21 {
  width: 127px;
  top: 1874px;
  right: 0;
  height: 390px;
}

.ellipse-22 {
  height: 220px;
  width: 235px;
  top: 2652px;
  left: 0;
}

.ellipse-23 {
  width: 156.293323px;
  top: 3361px;
  right: 0;
}

.nav-bar {
  margin-bottom: 120px;
}

.name-div,
.toggle-button {
  padding: 8px 16px;
}

.bar {
  transition: 0.4s;
  background-color: #fff;
  display: block;
  height: 2px;
  left: 28px;
  top: 50%;
  width: 20px;
}

.bar:first-child {
  transform: translateY(-4px);
}

.bar:last-child {
  transform: translateY(4px);
}

.main-page,
.footer {
  text-align: center;
}

.main-page {
  width: 320px;
}

.name-header,
.specialization-li,
.contact-me-header {
  color: #7d73fc;
  font-size: 35px;
}

.about-me-header {
  margin: 24px 0;
  font-size: 18px;
}

.about-me-section {
  margin: 34px 0;
  line-height: 24px;
}

.specialization-section {
  border-top: 1px solid #646369;
  border-bottom: 1px solid #646369;
  padding: 33px 0;
  margin-bottom: 8px;
}

.specialization-list {
  flex-wrap: wrap;
}

.specialization-li {
  flex-basis: 50%;
  font-size: 80%;
}

.specialization-li-ul {
  padding: 8% 0;
  margin-bottom: 24px;
  line-height: 2rem;
}

.social-media-div {
  margin: 33px 0;
}

.social-media-li {
  margin: 8px;
}

.social-media-image {
  width: 17px;
}

.arrow-down {
  height: 13px;
  margin: 6px;
}

.work-paragraph {
  font-size: 14px;
  margin-top: 5px;
}

.my-recent-work {
  display: grid;
  margin: 28px 0;
  grid-template-columns: repeat(2, 160px);
  grid-template-rows: min-content min-content;
}

.my-recent-work-header {
  margin: 28px 0;
}

.recent-work-header {
  margin: 24px 0;
  color: #9490ff;
  border-bottom: 1px solid #646369;
  padding-bottom: 33px;
  font-size: 30px;
}

.recent-work-div,
.recent-work-header {
  grid-column-start: 1;
  grid-column-end: 3;
}

.recent-work-demo-wrapper {
  height: 236px;
  background-color: #fff;
}

.recent-work-article {
  text-align: left;
}

.recent-work-article-header {
  margin: 38px 0;
  font-size: 28px;
}

.recent-work-paragraph {
  margin: 34px 0;
  line-height: 1.7rem;
}

.recent-work-ul {
  flex-wrap: wrap;
}

.recent-work-ul-li {
  border-right: 1px solid #555;
  padding-right: 24px;
}

.see-project-button {
  width: 89px;
  height: 48px;
  margin: 48px 0;
  background-color: #7d73fc;
  opacity: 0.8;
}

.see-project-button:enabled {
  background-color: #7d73fc;
}

.see-project-button:hover {
  background-color: #7d73fc;
  opacity: 1;
}

.see-project-button:active {
  background-color: #5e42d7;
}

.border-none {
  border: none;
}

.contact-me-section {
  padding: 20px 24px 71px;
}

.contact-me-header {
  font: 500 32px/44px "Roboto", sans-serif;
}

.contact-me-para {
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.flex-d-col {
  flex-direction: column;
}

.input {
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  font: 400 15px/24px "Roboto", sans-serif;
  color: #191765;
}

.input:focus {
  outline: none;
  border: 1px solid #9490ff;
}

.footer {
  border-top: 1px solid #3a3837;
  padding-top: 20px;
}
