
.nav-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.mobile-nav-wrapper {
  position: static;
}

.display-flex-lg {
  display: flex;
}

.display-none-lg {
  display: none;
}

.display-block-lg {
  display: block;
}

.nav-large-div {
  height: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.large-screen-nav-ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.main-page {
  width: 100%;
}


.margin-0auto-lg {
  margin: 0 auto;
}

.circle-ellipse {
  height: 184px;
  width: 184px;
  left: 69px;
  top: 237px;
}

.circle-ellipse-2 {
  height: 216px;
  width: 226px;
  right: 69px;
  top: 546px;
}

 .about-me-paragraph {
  width: 442px;
}

.work-div-lg {
  justify-content: space-between;
}

.section2-width {
  width: 100%;
}

 .recent-work-section-div {
  width: 87%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  padding-top: 8%;
  margin: 0 auto;
}

.recent-work-div {
  grid-column-start: 1;
  grid-column-end: 2;
}

.recent-work-image {
  display: block;
  height: 389px;
  background-color: #fff;
}

.recent-work-article {
  grid-column-start: 2;
  grid-column-end: 3;
  line-height: 34px;
  height: 0;
  margin: 24px;
  
}

.see-project-button {
  width: 89px;
  height: 48px;
  margin: 50px 48px 0;
  margin: 24px auto;
}

.arrow-down-div {
  margin-top: 20px;
  margin-bottom: 40px;
}

.arrow-down {
  width: 18px;
  height: 21.3px;
  padding: 2px;
  margin-right: 4px;
}

.multi-post-header {
  margin: 0 25px;
}

.recent-work-ul {
  margin: 28px 0;
}

.grid-columns {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
}

.grid-column-2 {
  grid-column-start: 1;
  grid-row-end: 2;
  height: 0;
  margin-top: 45px;
  width: 45%;
} 

.border-bottom{
   width: 480px;
}
 
.border-bottom-recent {
   width: 87%;
} 

.ellipse-20-lg {
  height: 402px;
  width: 159px;
  top: 1861.743103px;
  right: 0;
}

.ellipse-21-lg {
  height: 202px;
  width: 338px;
  left: 0;
  top: 2751px;
}

.ellipse-23 {
  height: 324;
  width: 392px;
  right: 0;
  top: 2932px;
}

.ellipse-19-lg {
  height: 701.916794px;
  width: 449.528483px;
  top: 1306.118469px;
  left: 0;
} 

.contact-me-section{
  width: 65%;
  margin: 26px auto;
}
.contact-paragraph {
  width: 100%;
} 

.form-div{
  width: 90%;
  margin: 0 auto;
}
 .lg-name-input-div {
  display: flex;
  margin: 0;
}

.form-first-name {
  width: 100%;
  margin-right: 8px;
  font-weight: bolder;
}

.last-name-form {
  width: 100%;
  margin-left: 8px;
}
.input-field-width{
  width: 100%;
  margin: 0;
}

